header {
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;

    .home {
      background-color: var(--secondary-color);
      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 0.7rem;
      border-radius: 15px;
      cursor: pointer;
      svg {
        fill: var(--primary-color);
      }
    }
    .btn-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      .add-question,
      .leaderboard {
        background-color: var(--secondary-color);
        display: flex;
        align-items: center;
        gap: 0.3rem;
        padding: 0.7rem;
        border-radius: 15px;
        cursor: pointer;
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }
}

nav .home.active-btn,
nav .btn-container .leaderboard.active-btn,
nav .btn-container .add-question.active-btn {
  background-color: var(--primary-color) !important;

  svg {
    fill: var(--secondary-color) !important;
  }
}
